<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="game-map.css" />
    <title>Game</title>
  </head>
  <body>
    <div class="game-search" id="game-search">
      <img src="/loading.gif" />
      <div>Searching for a match...</div>
      <button onclick="onBackToLobby()">Back to Lobby</button>
    </div>
    <div class="game-container" id="game-container" style="display: none">
      <div class="player-info-container">
        <div class="cards-in-hand"></div>
        <div class="info">
          <div class="user-info">
            <img
              id="opponent_img"
              src="/assets/profile-image/1.png"
              alt="opponent-img"
            />
            <span id="opponent_name">Opponent Name</span>
          </div>
          <div class="indicators">
            <span class="hp" id="opponent_hp">100</span>
            <!-- <span class="mp" id="opponent_mp">100</span> -->
          </div>
        </div>
        <div class="timer">
          <span id="opponent_time">00:30</span>
        </div>
      </div>

      <div class="board">
        <div class="board-section opponent">
          <!-- <div class="card"></div>
          <div class="card"></div>
          <div class="card"></div> -->
        </div>
        <div class="board-section your"></div>
      </div>

      <div class="player-info-container">
        <div class="cards-in-hand your">
          <!-- <div id="card-1" class="card" draggable="true">Card 1</div>
          <div id="card-2" class="card" draggable="true">Card 2</div>
          <div id="card-3" class="card" draggable="true">Card 3</div>
          <div class="card" draggable="false">Card 4</div>
          <div class="card" draggable="false">Card 5</div> -->
        </div>
        <div class="info">
          <div class="user-info">
            <img
              id="your-image"
              src="/assets/profile-image/2.png"
              alt="your-img"
            />
            <!-- <span id="opponent_name">Your Name</span> -->
            <span id="your-name">Your Name</span>
          </div>
          <div class="indicators">
            <span class="hp" id="your_hp">100</span>
            <span class="mp" id="your_mp">100</span>
          </div>
        </div>
        <div class="current-turn">
          <div class="timer">
            <span id="your_time">00:30</span>
          </div>
          <button class="turn-button" id="turn-button">Your turn</button>
        </div>
      </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="game.js"></script>
  </body>
</html>
