<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="lobby-style.css" />
    <title>Lobby</title>
  </head>

  <body>
    <form action="/lobby" method="POST">
        <nav>
            <ul>
                <li id="main_section"><a href="#main">Main</a></li>
                <li id="cards_section"><a href="#cards">Cards</a></li>
                <li id="rules_section"><a href="#rules">Rules</a></li>
                <li id="profile_section">
                    <a href="#profile">
                        <img id="profile_picture" src="" alt="Profile Picture" />
                    </a>
                </li>
            </ul>
        </nav>

        <div class="content">
            <div id="main" class="main active">
                <h2>Hi there, <span id="main_login_txt"></span>!</h2>
            </div>
            <div id="cards" class="cards">
                <h2>Cards</h2>
                <p>This is the cards section.</p>
            </div>
            <div id="rules" class="rules">
                <h2>Rules</h2>
                <p>This is the rules section.</p>
            </div>
            <div id="profile" class="profile">
                <h2>Profile</h2>
                <p>Your login: <span id="profile_login_txt"></span></p>
                <p>Your full name: <span id="full_name_txt"></span></p>
                <p>Your email: <span id="email_txt"></span></p>
                <a href="#log_out">
                    <button onclick="onLogout(event)">Log out</button>
                </a>
            </div>
        </div>
    </form>

    <script>
        let loginReq = new XMLHttpRequest();

        loginReq.open("GET", `/lobby/login`, true);
        loginReq.setRequestHeader("Content-Type", "application/json");
        loginReq.addEventListener("load", () => {
            const resJSON = JSON.parse(loginReq.responseText);
            const login = resJSON.login;

            document.getElementById("main_login_txt").innerText = login;
            document.getElementById("profile_login_txt").innerText = login;
        });

        loginReq.send();


        function onLogout(ev) {
            ev.preventDefault();

            let req = new XMLHttpRequest();

            req.open("POST", `/lobby/logout`, true);
            req.setRequestHeader("Content-Type", "application/json");
            req.addEventListener("load", () => {
                if (req.status == 200) window.location.href = "/";
            });
            req.send();
        }

        
        let profilePictureReq = new XMLHttpRequest();

        profilePictureReq.open("GET", `/lobby/profile_picture`, true);
        profilePictureReq.setRequestHeader("Content-Type", "application/json");
        profilePictureReq.addEventListener("load", () => {
            if (profilePictureReq.status === 200) {
                const resJSON = JSON.parse(profilePictureReq.responseText);
                const profilePicture = resJSON.profile_picture;
                const profilePictureElement = document.getElementById("profile_picture");
                profilePictureElement.src = `/assets/profile-image/${profilePicture}`;
            }
        });

        profilePictureReq.send();


        let userDetailsReq = new XMLHttpRequest();

        userDetailsReq.open("GET", `/lobby/user_details`, true);
        userDetailsReq.setRequestHeader("Content-Type", "application/json");
        userDetailsReq.addEventListener("load", () => {
        if (userDetailsReq.status === 200) {
            const resJSON = JSON.parse(userDetailsReq.responseText);
            const fullName = resJSON.full_name;
            const email = resJSON.email;
            
            document.getElementById("full_name_txt").innerText = fullName;
            document.getElementById("email_txt").innerText = email;
        }
        });

        userDetailsReq.send();


        const menuItems = document.querySelectorAll('nav a');
        const contentSections = document.querySelectorAll('.content > div');

        menuItems.forEach((menuItem) => {
            menuItem.addEventListener('click', (e) => {
                e.preventDefault();

                const targetId = e.currentTarget.getAttribute('href').substring(1);

                contentSections.forEach((section) => {
                    section.classList.remove('active');
                });

                document.getElementById(targetId).classList.add('active');
            });
        });
    </script>
  </body>
</html>