<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>t02_password_reminder</title>
  </head>
  <body>
    <div class="container">
      <h2>Remind password</h2>
      <form id="rem_pass_form">
        <div class="form-group">
          <input
            type="email"
            id="email"
            name="email"
            required
          />
          <label for="email">Enter your email</label>
        </div>
        <div class="error-txt" id="err_txt"></div>
        <input type="submit" class="btn-submit" value="Send" />
      </form>
    </div>

    <script>
      const errorOutput = document.getElementById("err_txt");

      document
        .getElementById("rem_pass_form")
        .addEventListener("submit", (e) => {
          e.preventDefault();

          const email = document.getElementById("email").value;

          let req = new XMLHttpRequest();
          req.open("POST", `/pass-remind`, true);
          req.setRequestHeader("Content-Type", "application/json");
          req.addEventListener("load", () => {
            if (req.status == 500 || req.status == 404) {
              const resJSON = JSON.parse(req.responseText);
              errorOutput.innerText = resJSON.message;
            } else {
              alert("Success! Check your email box");
              errorOutput.innerText = "";
              window.location.href = "/login";
            }
          });

          req.send(
            JSON.stringify({
              email: email,
            })
          );
        });
    </script>
  </body>
</html>
