<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Password Reminder</title>
  </head>
  <body>
    <div class="container">
      <h2>Remind password</h2>
      <form id="rem_pass_form">
        <div class="form-group">
          <input
            type="email"
            id="email"
            name="email"
            required
          />
          <label for="email">Enter your email</label>
        </div>
        <div class="error-txt" id="err_email_txt"></div>
        <input type="submit" class="btn-submit" value="Send code" />
      </form>

      <form id="set_new_password_form" action="/pass-remind/reset-password" method="POST" style="display: none;">
        <div class="form-group">
          <input
            type="text"
            id="confirmation"
            name="confirmation"
            required
          />
          <label for="confirmation">Enter the code from the letter</label>
        </div>

        <div class="form-group">
          <input
            type="password"
            id="password"
            name="password"
            required
          />
          <label for="password">Password</label>
        </div>
  
        <div class="form-group">
          <input
            type="password"
            id="confirm_password"
            name="confirm_password"
            required
          />
          <label for="confirm_password">Confirm Password</label>
        </div>
        <div class="error-txt" id="err_pass_txt"></div>
        <input type="submit" class="btn-submit" value="Save new password" />
      </form>
    </div>

    <script>
      const errorEmailOutput = document.getElementById("err_email_txt");
      const errorPassOutput = document.getElementById("err_pass_txt");

      document
        .getElementById("rem_pass_form")
        .addEventListener("submit", (e) => {
          e.preventDefault();

          const email = document.getElementById("email").value;

          let req = new XMLHttpRequest();
          req.open("POST", `/pass-remind`, true);
          req.setRequestHeader("Content-Type", "application/json");
          req.addEventListener("load", () => {
            if (req.status == 500 || req.status == 404) {
              const resJSON = JSON.parse(req.responseText);
              errorEmailOutput.innerText = resJSON.message;
            } else {
              alert("Check your email box for confirmation and enter your new password (don't lose him again please)");
              errorEmailOutput.innerText = "";
              const emailForm = document.getElementById('rem_pass_form');
              const newPassForm = document.getElementById('set_new_password_form');
              emailForm.style.display = 'none';
              newPassForm.style.display = 'block';
            }
          });

          req.send(
            JSON.stringify({
              email: email,
            })
          );
        });

      document.getElementById("set_new_password_form")
        .addEventListener("submit", (e) => {
          e.preventDefault();
          
          const confirmation = document.getElementById("confirmation").value;
          const newPass = document.getElementById("password").value;
          const confirmPass = document.getElementById("confirm_password").value;

          let req = new XMLHttpRequest();
          req.open("POST", `/pass-remind/reset-password`, true);
          req.setRequestHeader("Content-Type", "application/json");
          req.addEventListener("load", () => {
            if (req.status == 500 || req.status == 404) {
              const resJSON = JSON.parse(req.responseText);
              errorPassOutput.innerText = resJSON.message;
            } else {
              alert("The password has been successfully changed, try logging in");
              errorPassOutput.innerText = "";
              window.location.href = "/login";
            }
          });

          req.send(
            JSON.stringify({
              confirmation: confirmation,
              newPass: newPass,
              confirmPass: confirmPass
            })
          );
        });

    </script>
  </body>
</html>
