body, ul {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    list-style: none;
}

nav {
    background-color: #36393f;
    text-align: center;
    padding: 20px;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.content {
    padding: 20px;
}

.main, .profile, .cards, .rules {
    display: none;
}

.active {
    display: block;
}

button {
    border: none;
    border-radius: 5px;
    background-color: red;
    color: white;
    font-weight: bold;
    padding: 5px 10px;
    transition: background-color 0.3s, color 0.3s;
}

#main_section:hover,
#cards_section:hover,
#rules_section:hover,
#profile_section:hover {
    opacity: 0.5;
}

button:hover {
    background-color: white;
    color: red;
}

#profile_picture {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}