body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background: url('/assets/avengers-infinity-war.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
  font-family: Arial, sans-serif;
}

.container {
  text-align: center;
  padding: 20px;
  border: 2px solid #ffffff;
  border-radius: 5px;
  min-width: 300px;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.form-group {
  margin-bottom: 15px;
  text-align: left;
  position: relative;
}

.form-group label {
  /* display: block; */
  position: absolute;
  font-weight: bold;
  color: #ffffff;
  padding: 10px;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  transition: top 0.3s ease;
}

.form-group input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 5px;
  background: transparent;
  font-size: 1em;
  border: none;
  border-bottom: 1px solid #ffffff;
  outline: none;
  color: #ffffff;
}

.form-group input:focus + label,
.form-group input:valid + label {
  top: -5px;
}

.btn-submit {
  width: 100%;
  margin-bottom: 15px;
  background-color: transparent;
  color: #ffffff;
  padding: 10px 20px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.btn-submit:hover {
  background-color: #61636a;
}

.error-txt {
  color: red;
  font-family: Arial, sans-serif;
  font-size: 10px;
  margin-bottom: 10px;
  font-weight: bold;
  word-break: break-all;
  max-width: 100%;
}

.link {
  margin-bottom: 15px;
  margin-top: 10px;
  text-align: center;
}

a {
  color: #888;
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 20px;
  text-decoration: none;
  transition: color 0.3s;
}

a:hover {
  color: #fff;
}
